<ng-container *ngIf="task" class="task">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tasks"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ task.title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="task__content ion-padding">
    <ion-item lines="none" class="task__content__title ion-no-padding">
      <ion-label position="stacked"> Task Title: </ion-label>
      <ion-input
        type="text"
        [(ngModel)]="task.title"
        placeholder="Please enter a title for this task."
      ></ion-input>
    </ion-item>

    <ion-item
      lines="none"
      class="task__content__description ion-no-padding ion-margin-bottom"
    >
      <ion-label position="stacked"> Task Description: </ion-label>
      <ion-textarea
        [(ngModel)]="task.description"
        placeholder="Please enter a description for this task."
      ></ion-textarea>
    </ion-item>

    <ion-segment [(ngModel)]="task.status" class="task__content__status">
      <ion-segment-button
        value="todo"
        [class.selected-status]="task.status === 'todo'"
      >
        <ion-label>To Do</ion-label>
      </ion-segment-button>
      <ion-segment-button
        value="in-progress"
        [class.selected-status]="task.status === 'in-progress'"
      >
        <ion-label>In Progress</ion-label>
      </ion-segment-button>
      <ion-segment-button
        value="done"
        [class.selected-status]="task.status === 'done'"
      >
        <ion-label>Done</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-chip
      (click)="assignTask()"
      class="task__content__assignee ion-no-margin"
    >
      <ion-icon color="light" name="person"></ion-icon>
      <ion-label>{{task.assignee ?? 'Assign this task'}}</ion-label>
    </ion-chip>

    <input
      (change)="uploadFile($event)"
      #fileInput
      type="file"
      class="hidden-input"
    />

    <ion-item
      lines="none"
      class="task__content__attachments-label ion-no-padding"
    >
      <ion-label>Attachments:</ion-label>
      <ion-button
        (click)="addAttachment(fileInput)"
        slot="end"
        fill="outline"
        color="primary"
      >
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item
      lines="none"
      *ngFor="let attachment of task.attachments"
      class="task__content__attachments-files"
    >
      <ion-icon slot="start" name="document"></ion-icon>
      <ion-label>
        <h3>{{ attachment.name}}</h3>
        <p>{{ attachment.size | fileSize }}</p>
        <p>{{ attachment.type }}</p>
      </ion-label>
      <ion-button
        slot="end"
        fill="clear"
        (click)="downloadAttachment(attachment.name, attachment.url)"
      >
        <ion-icon slot="icon-only" name="download"></ion-icon>
      </ion-button>
    </ion-item>

    <div
      *ngIf="task.attachments.length === 0"
      class="task__content__attachments-no-files"
    >
      <p>Add files to your ticket</p>
    </div>
  </ion-content>

  <ion-footer class="ion-padding">
    <ion-button expand="block" color="primary" (click)="saveTask()"
      >Save Task</ion-button
    >
    <ion-button
      class="ion-margin-top"
      expand="block"
      color="danger"
      (click)="deleteTask(task.title, task.id)"
      >Delete Task</ion-button
    >
  </ion-footer>
</ng-container>
