.task {
  &__content {
    &__assignee {
      --background: var(--ion-color-primary);
      --color: #ffffff;
    }
    &__description {
      .editable-description {
        border: 1px solid #757575;
        border-radius: 10px;
        padding: 5px 10px;
      }
    }
    &__title {
      .editable-title {
        border: 1px solid #757575;
        border-radius: 10px;
        --padding-start: 10px;
      }
    }
    &__attachments-no-files {
      border: 1px solid #757575;
      border-radius: 10px;
      min-height: 100px;
      p {
        margin-top: 46px;
        margin-bottom: 46px;
        text-align: center;
        color: #757575;
      }
    }
    &__status {
      margin: 12px 0;
      width: auto;
      ion-select {
        padding: 8px 20px;
        background-color: var(--ion-color-primary);
        border-radius: 5px;
        color: #ffffff;
      }
    }
  }
}
